.dtable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

.dtable-header {
    background-color: rgba(138, 136, 136, 0.15);
    padding: 12px;
    text-align: left;
    font-weight: bold;
}

.dtable-row:nth-child(even) {
    background-color: rgba(96, 153, 245, 0.158);
}

.dtable-cell {
    border: 1px solid #ddd;
    padding: 12px;
}